header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
h1 {
  color: MediumAquamarine;
  font-size: 14px;
  padding-left: 10px;
}

/* header flex container */

.head-container {
  display: inline-flex;
  width: 100%;
  height: 75px;
  border: solid;
  border-width: thin;
  margin-bottom: 10px;
}

/* logo-section */

.logo {
  width: 200px;
  height: 75px;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

/* site-navigation */

.navigation {
  display: inline-flex;
  align-items: center;
  padding-right: 30px;
  justify-content: flex-end;
  width: 100%;
}
.navigation-list {
  list-style-type: none;
  margin: 15px;
  text-decoration: underline;
}

/* main-section */

.main-container {
  display: flex;
  border: solid;
  border-width: thin;
  margin: 0 auto;
  padding-top: 35px;
  width: 1130px;
  height: 100%;
}
.large {
  display: flex;
  border: solid;
  border-width: thin;
  width: 630px;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 35px;
}

/* .large childrens */

.article-zero{
  border: solid;
  border-width: thin;
}
.article-one {
  border: solid;
  border-width: thin;
}
.article-two {
  border: solid;
  border-width: thin;
}

/* .large childrens end */

.middle {
  display: inline-flex;
  border: solid;
  border-width: thin;
  width: 300px;
  height: 100%;
  margin-right: 35px;
  flex-direction: column;
}

/* .middle childrens */

.article-three {
  border: solid;
  border-width: thin;
}
.article-four {
  border: solid;
  border-width: thin;
}

/* middle childrens end */

.small {
  display: flex;
  flex-direction: column;
  border: solid;
  border-width: thin;
  width: 240px;
  margin-right: 35px;
}

/* small childrens */

.article-five {
  border: solid;
  border-width: thin;
}

.article-title {
  border: solid;
  border-width: thin;
}

/* images and fonts on them */

.headline-image {
  background-image: url("images/img-story-main.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}
.headline-img-1 {
  background-image: url("images/img-story-1.png");
}
