header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
h1 {
  color: MediumAquamarine;
  font-size: 14px;
  padding-left: 10px;
}

/* header flex container */

.head-container {
  display: inline-flex;
  width: 100%;
  height: 75px;
  border: solid;
  border-width: thin;
  margin-bottom: 10px;
}

/* logo-section */

.logo {
  width: 200px;
  height: 75px;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

/* site-navigation */

.navigation {
  display: inline-flex;
  align-items: center;
  padding-right: 30px;
  justify-content: flex-end;
  width: 100%;
}
.navigation-list {
  list-style-type: none;
  margin: 15px;
  text-decoration: underline;
}

/* main-section */

.main-container {
  display: flex;
  justify-content: space-between;
  margin: 35px;
}
.large {
  display: flex;
  flex-flow: row wrap;
  width: 630px;
  justify-content: space-between;
}

/* .large childrens */

.article-zero{
  margin: 0;
}
.article-one {
  margin: 0;
  width: 300px;
}
.article-two {
  margin: 0;
  width: 300px;
}
.headline-image-main .headline-text-main {
  display: flex;
  background-image: url("images/img-story-main.png");
  height: 300px;
  width: 600px;
  flex: 1 1 auto;
  margin-bottom: 20px;
}
.headline-img-1 .headline-text {
  display: flex;
  background-image: url("images/img-story-2.png");
  width: 300px;
  height: 300px;
  flex: 1 1 auto;
}
.headline-img-2 .headline-text {
  display: flex;
  background-image: url("images/img-story-3.png");
  width: 300px;
  height: 300px;
  flex: 1 1 auto;
}

/* .large childrens end */

.middle {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
}

/* .middle childrens */

.article-three {
  margin: 0;
}
.article-four {
  margin: 0;
}

/* middle childrens end */

.small {
  display: flex;
  flex-direction: column;
  width: 240px;
}

/* small childrens */

.article-five {
  margin: 0;
}

.article-title {
  margin: 0;
}

/* images and fonts on them */

.headline-text-main{
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.headline-text {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}
.headline-img-3 .headline-text {
  display: flex;
  background-image: url("images/img-story-1.png");
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}
.bites {
  display: flex;
  flex-direction: column;
  background-color: WhiteSmoke;
  font-family: Verdana;
  color: DimGray;
  font-size: 12px;
  width: 100%;
  height: 300px;
}
.bites p {
  height: 40px;
  border-bottom: thin solid black;
  padding-top: 17px;
  margin: auto 0;
  padding-left: 15px;
}
.bites-title {
    font-size: 16px;
    font-weight: bold;
    margin-left: 70px;
    margin-bottom: 30px;
}

/* footer */

.footer {
  display: flex;
  background-color: MediumAquamarine;
  margin: 0 auto;
  font-family: Verdana;
  font-size: 12px;
  height: 300px;
  align-items: center;
  justify-content: center;

}

.menu-logo {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  list-style-type: none;
}

.footer-menu ul {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: center;
}
.footer-menu li {
  margin-right: 20px;
}
.footer-menu p {
  margin-left: 75px;
}
.menu {
  list-style-type: none;
  margin: 15px;
  text-decoration: underline;
}
